* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-color);
}
a{
    display: table;
    border: 1px solid;
}
ul.nav{
    list-style-type: none;
}
ul.nav .nav-title{
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    #border: 1px solid #000;
    height: 100vh;
}

.container-main{
    #border: 1px solid #000;
    height: 50rem;
    background-color: var(--surface-300);
}
.container-header{
    #border: 1px solid #000;
    height: 5rem;
    #box-shadow: 3px 10px 1px #888888;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 15px;
}
.container-footer{
    #border: 1px solid #000;
    height: 5rem;
    #align-content: baseline;
    #align-items: baseline;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 15px;
}
.container-content{
    #border: 1px solid #000;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--surface-0);
    box-shadow: -2px 2px 3px #888888;
    height: 45rem;
    overflow-y: auto;
}
