<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Sistem Informasi STMIK TIME</display-name>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>${sistime.public_captcha_key}</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>${sistime.private_captcha_key}</param-value>
    </context-param>

    <context-param>
        <param-name>sistime.userdir</param-name>
        <param-value>${sistime.userdir}</param-value>
    </context-param>

    <context-param>
        <param-name>sistime.pamdir</param-name>
        <param-value>pamdir</param-value>
    </context-param>

    <context-param>
        <param-name>sistime.size_limit</param-name>
        <param-value>3145728</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>

    <!--    <context-param>-->
    <!--        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>-->
    <!--        <param-value>true</param-value>-->
    <!--    </context-param>-->

    <security-role>
        <role-name>administrator</role-name>
    </security-role>
    <security-role>
        <role-name>mahasiswa</role-name>
    </security-role>
    <security-role>
        <role-name>marketing</role-name>
    </security-role>
    <security-role>
        <role-name>keuangan</role-name>
    </security-role>
    <security-role>
        <role-name>prodi</role-name>
    </security-role>

<!--    <security-constraint>-->
<!--        <display-name>Halaman admin</display-name>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>Protected REST</web-resource-name>-->
<!--            <url-pattern>/rest/api/*</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>administrator</role-name>-->
<!--            <role-name>mahasiswa</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

    <login-config>
        <auth-method>FORM</auth-method>
    </login-config>

</web-app>